################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/naogeng/FileContentIndex/017089fc-4c02-43f4-8eba-2666759329da.vsidx
/.vs/naogeng/FileContentIndex/e230bd19-e943-45a1-b216-c6256f82e13e.vsidx
/.vs/naogeng/v17/.wsuo
/.vs/naogeng/v17/Browse.VC.db-shm
/.vs/naogeng/v17/Browse.VC.opendb
